body {
    margin-top: 100px;
}
.container {
    border-radius: 5px;
    padding: 30px;
    width: 45%;
    margin: auto;
    border: 2px dashed red;
}

.col-4 {
    text-align: right;
}

.rows {
    padding-top: 15px;
}

input[type=text], select{
    width: 80%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    background-color: rgb(255, 196, 0);
    border: 3px solid rgb(125, 107, 5);
    color: white;
    padding: 12px 20px;
    width:100%;
}
.submit {
    padding-top: 5%;
}

img {
    width: 20%;
    margin-left: 40%;
}
.form {
    text-align: center;
}



